# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [1]:
x=[1,2,3,4]
x

[1, 2, 3, 4]

In [2]:
# Method 1 
x=[1,2,3,4]# in del  method we give the index value for removing
del x[2]

In [3]:
x

[1, 2, 4]

In [4]:
# Method 2
x=[1,2,3,4]
x.pop(2) # in pop method we give the index value for removing
print (x)

[1, 2, 4]

In [5]:
# Method 3
x=[1,2,3,4]
x.remove(3) # in remove method we have to mention the number to be removed
print(x)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [6]:
list_1= [2,3,4]
list_1.insert(0,1)
list_1

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [7]:
list_1

[1, 2, 3, 4]

In [8]:
list_1.insert(2,"two-and-half")
list_1

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [9]:
# CODE HERE

*convert into list*

In [10]:
phrase= "Don't panic!"

list(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [11]:
phrase=['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']
del phrase[3]
del phrase[10]
print(phrase)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [12]:
# CODE HERE
phrse=['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']
phrase.remove("p")
phrase.remove("a")
phrase.pop(5)
phrase.remove("D")

phrase
phrase.extend(["p" , "a", "n","D"])
print(phrase,end=",")

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D'],

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [13]:
# CODE HERE
list=['p', 'a', 'n', 'D', 'a']
print("".join(list))

panDa

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [38]:
# CODE HERE
nums=(31,24,35,85)
print(type(nums),nums)

<class 'tuple'> (31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [4]:
# CODE HERE
nums=(31,24,35,85)
y= list(nums)
y.remove(35)
x=tuple(y)
x

(31, 24, 85)

**Extent** tuple (85,19)

In [5]:
# CODE HERE
number_x=(31, 24, 85)
number_y=(85,19)
p=list(number_x)
q=list(number_y)
p.extend(q)
z=tuple(p)
z

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [24]:
# CODE HERE
tpl=('i','n','n','0')
print('i' in tpl)

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [23]:
# CODE HERE
list=['Hello',100,[],'innomatics']
list[2]=(200)
list

['Hello', 100, 200, 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [22]:
# CODE HERE
tpl = ("Innomatics")
p=tpl[::-1]
p
tuple(p)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [ ]:
tpl = (1,2,3)+(4,)
tpl

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [30]:
# CODE HERE
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

i=0
t=100
for i in l:
    
    
    print(i + (100,),end=" ")

(10, 20, 40, 100) (40, 50, 60, 100) (70, 80, 90, 100)

[(10, 20, 100)] [(40, 50, 100)] [(70, 80, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [27]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for t in tpl:
    print([t[:-1]+(100 , )],end=" ")

[(10, 20, 100)] [(40, 50, 100)] [(70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [2]:
mylist ={5,2,3,6,6,5}
new_list=set(mylist)
new_list.remove(max(new_list))
print(max(new_list))

5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [20]:
# CODE HERE
g=[12,24,35,70,88,120,155]
g= [x for (i,x) in enumerate(g) if i not in (0,4,5)]
print(g)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [19]:
tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[0:5]
tp2=tp[5:11]
print(tp1)
print(tp2)

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [16]:
b=(1,2,3,4,5,6,7,8,9,10)
l=[]
for i in b:
    if i%2==0:
        l.append(i)
t=tuple(l)
t

(2, 4, 6, 8, 10)

In [17]:
l

[2, 4, 6, 8, 10]

In [18]:
tuple(l)

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

# Solution

# Tuples

Tuples are heterogeneous.
Tuples are immutable  ie;immutable means that cannot be edited.
Tuples are ordered sequence.
Tuples are faster than list.
Tuples consume less memory.

# List

lists are also ordered sequence. 
lists are also heterogeneoyus.
lists are mutable  ie; the elements in the list can be edited/delete an element/insert an element....
lists consume more memory compared to tuples.
In list many built in methods are  available compared to tuple.

### 2. Explain the difference between append() and extend() with examples

# Solution

# append()

Here in append element passed in the argument is added at the end of the list.
In append the length of the list will increase by 1.
It has a constant time complexity of O(1).
In append method element passed as an argument will be added as a single element without any changes.

# extend()

In extend method the length of the list will increase by the number of elements in the iterable.
In extend method The iterable passed as an argument will append each of its elements at the end of the list.
It has a time complexity of O(k) ,here k=length of the iterable.
here in append function each element of the iterable is passed as an argument is added at the end of the list.

In [1]:
#append example
#dreamcar collection

mycarlist = ["Aston martin db1100","Rolls royce ghost","Lambhorgini urus","Mercedes benz c class"]

mycarlist.append (["Bentley","jaquar XE","jaquar XJL"])

print("my updated car list: ",mycarlist)

my updated car list:  ['Aston martin db1100', 'Rolls royce ghost', 'Lambhorgini urus', 'Mercedes benz c class', ['Bentley', 'jaquar XE', 'jaquar XJL']]

In [2]:
#extend example
mycarlist = ["Aston martin db1100","Rolls royce ghost","Lambhorgini urus","Mercedes benz c class"]

mycarlist.extend (["Bentley","jaquar XE","jaquar XJL"])

print("my updated car list: ",mycarlist)

my updated car list:  ['Aston martin db1100', 'Rolls royce ghost', 'Lambhorgini urus', 'Mercedes benz c class', 'Bentley', 'jaquar XE', 'jaquar XJL']

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution
pop deals with index position
pop returns the delete value
Pop is the only way that returns the object.

remove() delete the matching element
Remove is the only one that searches objects (not index).

In [3]:
# remove example

myList = [1, 2, 3, 4, 5, 7] 
 
myList.remove(7) #In remove method we search for objects and we remove them
 
print(myList)

[1, 2, 3, 4, 5]

In [4]:
# pop example

myList = [4, 3, 5] 
 
myList.pop(1) # In pop method by using indexing we pop the elements
 
print(myList)

[4, 5]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)