# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [29]:
# CODE HERE 
s={1,2,'hub','innomatics'}
s

{1, 2, 'hub', 'innomatics'}

In [9]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [32]:
# CODE HERE
s.add('technology')
s

{1, 2, 'hub', 'innomatics', 'technology'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [40]:
# CODE HERE
sc={3,4,'hub','technology'}
sc

{3, 4, 'hub', 'technology'}

In [12]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [ ]:
# CODE HERE

In [41]:
s

{1, 2, 'hub', 'innomatics', 'technology'}

In [42]:
sc

{3, 4, 'hub', 'technology'}

In [45]:
s-sc

{1, 2, 'innomatics'}

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [15]:
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [48]:
# CODE HERE
s.discard(2)
s

{1, 'hub', 'innomatics', 'technology'}

In [17]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [49]:
# CODE HERE
s

{1, 'hub', 'innomatics', 'technology'}

In [50]:
sc

{3, 4, 'hub', 'technology'}

In [51]:
s&sc

{'hub', 'technology'}

In [52]:
s.intersection(sc)

{'hub', 'technology'}

In [53]:
sc.intersection(s)

{'hub', 'technology'}

> **`Question:`Print all element in two sets**

s union sc

In [54]:
# CODE HERE
s

{1, 'hub', 'innomatics', 'technology'}

In [55]:
sc

{3, 4, 'hub', 'technology'}

In [56]:
s.union(sc)

{1, 3, 4, 'hub', 'innomatics', 'technology'}

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [68]:
# CODE HERE
fruits={"orange","apple","kiwi"}
fruits

{'apple', 'kiwi', 'orange'}

In [69]:
colors=['orange','red','green']
colors

['orange', 'red', 'green']

In [70]:
fruits.update(colors)
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

In [2]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [77]:
# CODE HERE
set1={10,20,30,40,50}
set1

{10, 20, 30, 40, 50}

In [79]:
set1
list_1=[10,20,30]
result=set1-set(list_1)
print(result )

{40, 50}

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)