# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [178]:
# CODE HERE
person1={'name': 'john' ,'gender': 'male', 'occupation': 'data scientist ','location': 'Nizampet Hyderabad'}
person1

{'name': 'john',
 'gender': 'male',
 'occupation': 'data scientist ',
 'location': 'Nizampet Hyderabad'}

> print keys in person1 as a list

In [179]:
# CODE HERE
person1

{'name': 'john',
 'gender': 'male',
 'occupation': 'data scientist ',
 'location': 'Nizampet Hyderabad'}

In [180]:
person1
list(person1.keys())

['name', 'gender', 'occupation', 'location']

> **`Question:` Remove Location in person1**

In [181]:
# CODE HERE
person1

{'name': 'john',
 'gender': 'male',
 'occupation': 'data scientist ',
 'location': 'Nizampet Hyderabad'}

In [182]:
person1.pop('location')
person1

{'name': 'john', 'gender': 'male', 'occupation': 'data scientist '}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [183]:
# CODE HERE
person2={'Name':'Raghu Ram', 'Gender':'Male','Age':'25','Occupation':'Data Scientist'}
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': '25',
 'Occupation': 'Data Scientist'}

In [184]:
person2

{'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Age': '25',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [185]:
# CODE HERE
print(person1)
print(person2)

{'name': 'john', 'gender': 'male', 'occupation': 'data scientist '}
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': '25', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [186]:
# CODE HERE
p={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
p.popitem()
p

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [187]:
p.pop(6)

36

In [188]:
del (p)[5]

In [189]:
p

{1: 1, 2: 4, 3: 9, 4: 16}

In [190]:
p.clear()

In [191]:
p

{}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [192]:
# CODE HERE
p={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print('original dictionary:', p)
sorted_p = dict( sorted(p.items(),reverse=True))
print('Dictionary in descending order by value : ',sorted_p)

original dictionary: {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
Dictionary in descending order by value :  {9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [193]:
dict_1={ 'a': 1, 'b': 2 }
dict_2 ={ 'b': 3, 'c': 4 }
dict_3 ={ 'c': 5, 'd': 6 }

In [204]:
dict_1.update(dict_2)
print('updated dictionary of dict_1 & dict_2:', dict_1)
dict_2.update(dict_3)
print('updated dictionary dict_2 & dict_3:', dict_2)
dict_1.update(dict_2)
print('final updated dictionary dict_1 & dict_2:', dict_1)

updated dictionary of dict_1 & dict_2: {'a': 1, 'b': 3, 'c': 5, 'd': 6}
updated dictionary dict_2 & dict_3: {'b': 3, 'c': 5, 'd': 6}
final updated dictionary dict_1 & dict_2: {'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charanâ€™s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name':'Jhony', 'salary': 7500},
    'emp2': {'name':'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [196]:
# CODE HERE
sample_dict={'emp1':{'name':'Jhony','salary': 7500},
             'emp2': {'name':'Ravi','salary': 8000},
             'emp3': {'name':'Charan','salary': 6500}
}
sample_dict
sample_dict['emp3']['salary']=8500
print(sample_dict , end=",")

{'emp1': {'name': 'Jhony', 'salary': 7500}, 'emp2': {'name': 'Ravi', 'salary': 8000}, 'emp3': {'name': 'Charan', 'salary': 8500}},

**`Question:` Print the value of key â€˜historyâ€™ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [203]:
sample_dict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sample_dict
sample_dict['class']['student']['marks']['history']

80

In [198]:
# CODE HERE

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [199]:
# CODE HERE
sample_dict9={'Gender': 'Male','Location': 'Nizampet, Hyderabad','Name': 'John','Occupation': 'Data Scientist'}
sample_dict9['Area']=sample_dict9.pop("Location")
sample_dict9

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [16]:
ABC = {'ram':"1234",'raghu':"5678",'kanav':"1357"}
username = input("Enter username :- ")

if username in ABC :
    password = input("Enter password :- ")rava
    if ABC[username] == password :
        print ("Hello!:",username)
    else :
        print ("Invalid Entry please correct your username/password. / please add me to the database")
        
else :
    print ("You are not valid user please add to the database.")

Enter username :- ravana
You are not valid user please add to the database.

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)