# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [5]:
a=('uppalapati.Shanmukha varma')
print(a)

uppalapati.Shanmukha varma

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
variable means it is a container/box used to store value
variable can be start with underscore and letters

In [12]:
w=("a,b,c,d,f")
w

'a,b,c,d,f'

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [31]:
width=17
(width/2)

8.5

In [32]:
type(8.5)

float

In [33]:
width=17
(width/2.0)

8.5

In [34]:
type(8.5)

float

In [35]:
height = 12
(height/3)

4.0

In [36]:
type(4.0)

float

In [37]:
(1+2*5)

11

In [38]:
type(11)

int

In [39]:
delimeter="."
delimeter*5

'.....'

In [29]:
type(delimeter)

str

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [41]:
first=70
second=90
add=first+second
add

160

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [75]:
a="shanmukha varma"
b=". uppalapati"
a+b

'shanmukha varma. uppalapati'

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [57]:
type(10)

int

In [58]:
type('10')

str

In [61]:
type('true')

str

In [62]:
type(10.5)

float

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [67]:
#converting str to int
b=int(str("456"))
b

456

In [68]:
a=num_int=123
a

123

In [69]:
a+b

579

In [73]:
#converting int to str
a=str(int(123))
a

'123'

In [74]:
b=num_str="456"
a+b

'123456'

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3πr3  . What is the volume of a sphere with radius 5?

In [80]:
pi=3.14159
r=5
volume=4/3*pi*r**3
print('volume=',volume)

volume= 523.5983333333332

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [87]:
a=24.95
b=40/100
c=3
d=0.75
e=60
f=a*e
print(f)
g=f*b
print(g)
h=f-g
print(h)
i=c*1+d*59
print(i)
j=h+i
print(j)

1497.0
598.8000000000001
898.1999999999999
47.25
945.4499999999999

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)